<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss06_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,618},{112,34}}</string>
                <key>offset</key>
                <string>{4,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,99},{112,34}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>boss06_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{130,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{130,122}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>boss06_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,244},{128,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{128,122}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>boss06_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{126,120}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{126,120}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>boss06_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,126},{130,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{130,116}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>boss06_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{128,118}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{128,118}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>boss06_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,628},{126,122}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{126,122}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>boss08_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,490},{88,26}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,127},{88,26}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>boss08_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,682},{92,112}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,29},{92,112}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>boss08_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,776},{96,108}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,33},{96,108}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>boss08_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,752},{94,106}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,35},{94,106}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>boss08_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,752},{96,110}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,31},{96,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>boss08_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,342},{50,22}}</string>
                <key>offset</key>
                <string>{9,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,44},{50,22}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>boss08_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,368},{48,20}}</string>
                <key>offset</key>
                <string>{9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,46},{48,20}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>boss08_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,368},{50,20}}</string>
                <key>offset</key>
                <string>{9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,46},{50,20}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>boss08_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,490},{144,136}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{144,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>boss08_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,554},{142,126}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{142,126}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>boss08_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,394},{152,122}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{152,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>boss09_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{172,150}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{172,150}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>boss09_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,342},{174,146}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{174,146}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>boss09_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{176,142}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{176,142}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>boss09_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{174,146}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{174,146}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>boss10_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,518},{144,34}}</string>
                <key>offset</key>
                <string>{4,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,151},{144,34}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>boss10_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,172},{186,168}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{186,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>boss10_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,170}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{186,170}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>boss10_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{186,168}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{186,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>boss10_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,200},{24,8}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,63},{24,8}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>boss10_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,226},{24,4}}</string>
                <key>offset</key>
                <string>{8,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,67},{24,4}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>boss10_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,174},{24,8}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,63},{24,8}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>zako09_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{96,126}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{96,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>zako09_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,860},{98,124}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{98,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>zako09_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,850},{94,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{94,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>zako09_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,860},{94,124}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{94,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d89e540f2536edb019814ca28b8b8f4b$</string>
            <key>textureFileName</key>
            <string>boss.png</string>
        </dict>
    </dict>
</plist>
